@import "tailwindcss";

@theme {
    --color-foreground: #9ca3af;
    --color-heading: #f3f4f6;
    --color-background: #16171d;
    --border-primary: #2e303a;
    --bg-code: #1f2028;
    --color-accent: #c084fc;
    --bg-accent: rgba(192, 132, 252, 0.15);
    --border-accent: rgba(192, 132, 252, 0.5);
    --shadow-primary:
    rgba(0, 0, 0, 0.4) 0 10px 15px -3px, rgba(0, 0, 0, 0.25) 0 4px 6px -2px;

    --font-sans: system-ui, 'Segoe UI', Roboto, sans-serif;
    --font-heading: system-ui, 'Segoe UI', Roboto, sans-serif;
    --font-mono: ui-monospace, Consolas, monospace;

}


@layer base {
    body {
        @apply bg-background text-foreground;
    }
}


